<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.5.4/css/jquery.atwho.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/homePage.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/hux-blog.css">
    <!--<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/codemirror.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/froala_editor.pkgd.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/froala_style.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="../css/jquery.atwho.min.css">-->



</head>
<body style="background-color: #e3efd2">
    <div class="header">
        <div class="header-container clearfloat">
            <div class="header-left">
                <a href="#" class="blog">博客</a>
            </div>
        </div>

        <div class="header-right">
            <% if (session.user) { %>
            <ul class="nav">
                <li>
                    <a href="/" class="style"><%=session.user.username%></a>
                </li>
            </ul>
            <% } else { %>
            <ul class="nav">
                <li>
                    <a href="/login" class="style">登陆</a>
                </li>
                <li>
                    <a href="/register" class="style">注册</a>
                </li>
            </ul>
            <% } %>



        </div>
    </div>
    <div class="head">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#home">
                    首页
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#personaList">
                    个人博客列表
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#personalDetail">
                    个人博客详情
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#personalInformation">
                    个人信息
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#pageSetuo">
                    页面设置
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#post">
                    发表博客
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
            </div>
            <hr>
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <section>
                    <h2>
                        <a href="/tags/"> TAGS</a>
                    </h2>
                    <div class="tags">
                        <a href="/tags/#生活" title="生活" rel="1">生活</a>
                        <a href="/tags/#心情" title="心情" rel="1">心情</a>
                        <a href="/tags/#技术" title="技术" rel="1">技术</a>
                        <a href="/tags/#web" title="web" rel="1">web</a>
                        <a href="/tags/#os" title="os" rel="1">os</a>
                        <a href="/tags/#linux" title="linux" rel="1">linux</a>
                        <a href="/tags/#javascript" title="javascript" rel="1">javascript</a>
                    </div>
                </section>
            </div>
        </div>
        <div id="personaList" class="tab-pane fade">
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">完美世界</a>
                </h1>
                <p class="post-content-preview">
                    我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
                </p>
                <p class="post-meta">
                    Post by liutongbin on September 6,2017
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">完美世界</a>
                </h1>
                <p class="post-content-preview">
                    我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
                </p>
                <p class="post-meta">
                    Post by liutongbin on September 6,2017
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">完美世界</a>
                </h1>
                <p class="post-content-preview">
                    我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
                </p>
                <p class="post-meta">
                    Post by liutongbin on September 6,2017
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">完美世界</a>
                </h1>
                <p class="post-content-preview">
                    我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
                </p>
                <p class="post-meta">
                    Post by liutongbin on September 6,2017
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">完美世界</a>
                </h1>
                <p class="post-content-preview">
                    我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
                </p>
                <p class="post-meta">
                    Post by liutongbin on September 6,2017
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">完美世界</a>
                </h1>
                <p class="post-content-preview">
                    我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
                </p>
                <p class="post-meta">
                    Post by liutongbin on September 6,2017
                </p>
            </div>
            <hr>
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <section>
                    <h2>
                        <a href="/tags/"> TAGS</a>
                    </h2>
                    <div class="tags">
                        <a href="/tags/#生活" title="生活" rel="1">生活</a>
                        <a href="/tags/#心情" title="心情" rel="1">心情</a>
                        <a href="/tags/#技术" title="技术" rel="1">技术</a>
                        <a href="/tags/#web" title="web" rel="1">web</a>
                        <a href="/tags/#os" title="os" rel="1">os</a>
                        <a href="/tags/#linux" title="linux" rel="1">linux</a>
                        <a href="/tags/#javascript" title="javascript" rel="1">javascript</a>
                    </div>
                </section>
            </div>
        </div>
        <div id="personalDetail" class="tab-pane fade">
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
                <p>
                    <a href="#" class="ping">评论</a>
                    <div class="gbko" style="display: none;">
                        <div class="post">
                            <textarea class="text"></textarea>
                        </div>
                        <div class="button">
                            <input type="button" value="提交" class="btn">
                        </div>
                    </div>
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
                <p>
                    <a href="#" class="ping">评论</a>
                <div class="gbko" style="display: none;">
                    <div class="post">
                        <textarea class="text"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="提交" class="btn">
                    </div>
                </div>
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
                <p>
                    <a href="#" class="ping">评论</a>
                <div class="gbko" style="display: none;">
                    <div class="post">
                        <textarea class="text"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="提交" class="btn">
                    </div>
                </div>
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
                <p>
                    <a href="#" class="ping">评论</a>
                <div class="gbko" style="display: none;">
                    <div class="post">
                        <textarea class="text"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="提交" class="btn">
                    </div>
                </div>
                </p>
            </div>
            <hr>
            <div class="post-preview">
                <h1 class="post-title">
                    <a href="#">html5个人博客模板主题《心蓝时间轴》</a>
                </h1>
                <p class="post-content-preview">
                    Html5+css3个人博客模板，主题《心蓝时间轴》，使用css3技术实现网站动画效果，主要模块是时间轴部分.主题颜色为蓝色.目前版本还在测试当中,喜欢的可以先下载
                </p>
                <p class="post-meta">
                    Posted by zhuihun on September 5,2017
                </p>
                <p>
                    <a href="#" class="readmore">阅读全文>></a>
                </p>
                <p>
                    <a href="#" class="ping">评论</a>
                <div class="gbko" style="display: none;">
                    <div class="post">
                        <textarea class="text"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="提交" class="btn">
                    </div>
                </div>
                </p>
            </div>
            <hr>
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <section>
                    <h2>
                        <a href="/tags/"> TAGS</a>
                    </h2>
                    <div class="tags">
                        <a href="/tags/#生活" title="生活" rel="1">生活</a>
                        <a href="/tags/#心情" title="心情" rel="1">心情</a>
                        <a href="/tags/#技术" title="技术" rel="1">技术</a>
                        <a href="/tags/#web" title="web" rel="1">web</a>
                        <a href="/tags/#os" title="os" rel="1">os</a>
                        <a href="/tags/#linux" title="linux" rel="1">linux</a>
                        <a href="/tags/#javascript" title="javascript" rel="1">javascript</a>
                    </div>
                </section>
            </div>
        </div>
        <div id="personalInformation" class="tab-pane fade">
            <div class="picture">
                <p data-scroll-reveal="enter top over 2s" data-scroll-reveal-id="2" style="-webkit-transform: translatey(0);transform: translatey(0);opacity: 1;-webkit-transition: -webkit-transform 2s ease-in-out 0s,  opacity 2s ease-in-out 0s;transition: transform 2s ease-in-out 0s, opacity 2s ease-in-out 0s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">我们不停的翻弄着回忆，却再也找不回那时的自己</p>
                <p data-scroll-reveal="enter left over 2s after 1s" data-scroll-reveal-id="3" style="-webkit-transform: translatex(0);transform: translatex(0);opacity: 1;-webkit-transition: -webkit-transform 2s ease-in-out 1s,  opacity 2s ease-in-out 1s;transition: transform 2s ease-in-out 1s, opacity 2s ease-in-out 1s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">人生，是一场盛大的遇见。若你懂得，就请珍惜。</p>
                <p data-scroll-reveal="enter bottom over 2s after 2s" data-scroll-reveal-id="4" style="-webkit-transform: translatey(0);transform: translatey(0);opacity: 1;-webkit-transition: -webkit-transform 2s ease-in-out 2s,  opacity 2s ease-in-out 2s;transition: transform 2s ease-in-out 2s, opacity 2s ease-in-out 2s;-webkit-perspective: 1000;-webkit-backface-visibility: hidden;" data-scroll-reveal-initialized="true">无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候.</p>
            </div>
            <div class="bs-example" data-example-id="body-copy">
                <h1>Just about me</h1>
                <p>昵称：追魂</p>
                <p>手机号：110</p>
                <p>密码：********</p>
            </div>
        </div>
        <div id="pageSetuo" class="tab-pane fade">
            <label style="color: #537b18;">设置页条数</label>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
            <div class="background">
                <a href="#">设置背景图</a>
            </div>
            <div class="myself-nav">
                <nav>
                    <ul>
                        <li>
                            <a class="ab" title="博客详情">博客详情</a>
                        </li>
                        <li>
                            <a class="ab" title="博客列表">博客列表</a>
                        </li>
                        <li>
                            <a class="ab" title="个人信息">个人信息</a>
                        </li>
                        <li>
                            <a class="ab" title="首页">首页</a>
                        </li>
                        <li>
                            <a class="ab" title="页面设置">页面设置</a>
                        </li>
                        <li>
                            <a class="ab" title="发表博客">发表博客</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="post" class="tab-pane fade">
            <div id="froala-editor" class="fr-box fr-basic fr-top">
                <div class="fr-toolbar fr-desktop fr-top fr-basic fr-sticky-off">
                    <button id="fullscreen-1" type="button" tabindex="-1" role="button" aria-pressed="false" titel="Fullscreen" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="fullscreen">
                        <i class="fa fa-expand" aria-hidden="true"></i>
                        <span class="fr-sr-only">Fullscreen</span>
                    </button>
                    <button id="bold-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Bold (⌘B)" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="bold">
                        <i class="fa fa-bold" aria-hidden="true"></i>
                        <span class="fr-sr-only">Bold</span>
                    </button>
                    <button id="italic-1" type="button" tabindex="-1" role="button" aria-pressed="false" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="italic">
                        <i class="fa fa-italic" aria-hidden="true"></i>
                        <span class="fr-sr-only">Italic</span>
                    </button>
                    <button id="underline-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Underline (⌘U)" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="underline">
                        <i class="fa fa-underline" aria-hidden="true"></i>
                        <span class="fr-sr-only">Underline</span>
                    </button>
                    <button id="strikeThrough-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Strikethrough (⌘S)" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="strikeThrough">
                        <i class="fa fa-strikethrough" aria-hidden="true"></i>
                        <span class="fr-sr-only">Strikethrough</span>
                    </button>
                    <button id="subscript-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Subscript" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="subscript">
                        <i class="fa fa-subscript" aria-hidden="true"></i>
                        <span class="fr-sr-only">Subscript</span>
                    </button>
                    <button id="superscript-1" type="button" tabindex="-1" role="button" aria-pressed="false" title="Superscript" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="superscript">
                        <i class="fa fa-superscript" aria-hidden="true"></i>
                        <span class="fr-sr-only">Superscript</span>
                    </button>
                    <div class="fr-separator fr-vs" role="separator" aria-orientation="vertical"></div>
                    <button id="fontFamily-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-fontFamily-1" aria-expanded="false" aria-haspopup="true" class="fr-command fr-btn fr-dropdown fr-btn-font_awesome fr-selection" data-cmd="fontFamily">
                        <i class="fa fa-font" aria-hidden="true"></i>
                        <span class="fr-sr-only">Font Family</span>
                    </button>
                    <div id="dropdown-menu-fontFamily-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="fontFamily-1" aria-hidden="true">
                        <div class="fr-dropdown-wrapper" role="presentation">
                            <div class="fr-dropdown-content" role="presentation">
                                <ul class="fr-dropdown-list" role="presentation">
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontFamily" data-param1="Arial,Helvetica,sans-serif" style="font-family: Arial,Helvetica,sans-serif" title="Arial">Arial</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontFamily" data-param1="Georgia,serif" style="font-family: Georgia,serif" title="Georgia">Georgia</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontFamily" data-param1="Impact,Charcoal,sans-serif" style="font-family: Impact,Charcoal,sans-serif" title="Impact">Impact</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontFamily" data-param1="Tahoma,Geneva,sans-serif" style="font-family: Tahoma,Geneva,sans-serif" title="Tahoma">Tahoma</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontFamily" data-param1="Times New Roman,Times,serif,-webkit-standard" style="font-family: Times New Roman,Times,serif,-webkit-standard" title="Times New Roman">Times New Roman</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontFamily" data-param1="Verdana,Geneva,sans-serif" style="font-family: Verdana,Geneva,sans-serif" title="Verdana">Verdana</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button id="fontSize-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-fontSize-1" aria-expanded="false" aria-haspopup="true" class="fr-command fr-btn fr-dropdown fr-btn-font_awesome fr-selection" data-cmd="fontSize">
                        <i class="fa fa-text-height" aria-hidden="true"></i>
                        <span class="fr-sr-only">Font Size</span>
                    </button>
                    <div id="dropdown-menu-fontSize-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="fontSize-1" aria-hidden="true">
                        <div class="fr-dropdown-wrapper" role="presentation">
                            <div class="fr-dropdown-content" role="presentation">
                                <ul class="fr-dropdown-list" role="presentation">
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="8px" title="8">8</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="9px" title="9">9</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="10px" title="10">10</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="11px" title="11">11</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="12px" title="12">12</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="14px" title="14">14</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="18px" title="18">18</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="24px" title="24">24</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="30px" title="30">30</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="36px" title="36">36</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="48px" title="48">48</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="60px" title="60">60</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="72px" title="72">72</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="fontSize" data-param1="96px" title="96">96</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button id="color-1" type="button" tabindex="-1" role="button" title="Colors" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="color" data-popup="true">
                        <i class="fa fa-tint" aria-hidden="true"></i>
                        <span class="fr-sr-only">Colors</span>
                    </button>
                    <button id="inlineStyle-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-inlineStyle-1" aria-expanded="false" aria-haspopup="true" title="Inline Style" class="fr-command fr-btn fr-dropdown fr-btn-font_awesome" data-cmd="inlineStyle">
                        <i class="fa fa-paint-brush" aria-hidden="true"></i>
                        <span class="fr-sr-only">Inline Style</span>
                    </button>
                    <div id="dropdown-menu-inlineStyle-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="inlineStyle-1" aria-hidden="true">
                        <div class="fr-dropdown-wrapper" role="presentation">
                            <div class="fr-dropdown-content" role="presentation">
                                <ul class="fr-dropdown-list" role="presentation">
                                    <li role="presentation">
                                        <span style="font-size: 20px; color: red;" role="presentation">
                                            <a class="fr-command" tabindex="-1" role="option" data-cmd="inlineStyle" data-param1="font-size: 20px; color: red;" title="Big Red">Big Red</a>
                                        </span>
                                    </li>
                                    <li role="presentation">
                                        <span style="font-size: 14px; color: blue;" role="presentation">
                                            <a class="fr-command" tabindex="-1" role="option" data-cmd="inlineStyle" data-param1="font-size: 14px; color: blue;" title="Small Blue">Small Blue</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button id="paragraphStyle-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-paragraphStyle-1" aria-expanded="false" aria-haspopup="true" title="Paragraph Style" class="fr-command fr-btn fr-dropdown fr-btn-font_awesome" data-cmd="paragraphStyle">
                        <i class="fa fa-magic" aria-hidden="true"></i>
                        <span class="fr-sr-only">Paragraph Style</span>
                    </button>
                    <div id="dropdown-menu-paragraphStyle-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="paragraphStyle-1" aria-hidden="true">
                        <div class="fr-dropdown-wrapper" role="presentation">
                            <div class="fr-dropdown-content" role="presentation">
                                <ul class="fr-dropdown-list" role="presentation">
                                    <li role="presentation">
                                        <a class="fr-command fr-text-gray" tabindex="-1" role="option" data-cmd="paragraphStyle" data-param1="fr-text-gray" title="Gray">Gray</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command fr-text-bordered" tabindex="-1" role="option" data-cmd="paragraphStyle" data-param1="fr-text-bordered" title="Bordered">Bordered</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command fr-text-spaced" tabindex="-1" role="option" data-cmd="paragraphStyle" data-param1="fr-text-spaced" title="Spaced">Spaced</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command fr-text-uppercase" tabindex="-1" role="option" data-cmd="paragraphStyle" data-param1="fr-text-uppercase" title="Uppercase">Uppercase</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fr-separator fr-vs" role="separator" aria-orientation="vertical"></div>
                    <button id="paragraphFormat-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-paragraphFormat-1" aria-expanded="false" aria-haspopup="true" class="fr-command fr-btn fr-dropdown fr-btn-font_awesome fr-selection" data-cmd="paragraphFormat">
                        <i class="fa fa-paragraph" aria-hidden="true"></i>
                        <span class="fr-sr-only">Paragraph Format</span>
                    </button>
                    <div id="dropdown-menu-paragraphFormat-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="paragraphFormat-1" aria-hidden="true">
                        <div class="fr-dropdown-wrapper" role="presentation">
                            <div class="fr-dropdown-content" role="presentation">
                                <ul class="fr-dropdown-list" role="presentation">
                                    <li role="presentation">
                                        <p style="padding: 0 !important; margin: 0 !important;" role="presentation">
                                            <a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="N" title="Normal">Normal</a>
                                        </p>
                                    </li>
                                    <li role="presentation">
                                        <h1 style="padding: 0 !important; margin: 0 !important;" role="presentation">
                                            <a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="H1" title="Heading 1">Heading 1</a>
                                        </h1>
                                    </li>
                                    <li role="presentation">
                                        <h2 style="padding: 0 !important; margin: 0 !important;" role="presentation">
                                            <a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="H2" title="Heading 2">Heading 2</a>
                                        </h2>
                                    </li>
                                    <li role="presentation">
                                        <h3 style="padding: 0 !important; margin: 0 !important;" role="presentation">
                                            <a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="H3" title="Heading 3">Heading 3</a>
                                        </h3>
                                    </li>
                                    <li role="presentation">
                                        <h4 style="padding: 0 !important; margin: 0 !important;" role="presentation">
                                            <a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="H4" title="Heading 4">Heading 4</a>
                                        </h4>
                                    </li>
                                    <li role="presentation">
                                        <pre style="padding: 0 !important; margin: 0 !important;" role="presentation">
                                            <a class="fr-command" tabindex="-1" role="option" data-cmd="paragraphFormat" data-param1="PRE" title="Code">Code</a>
                                        </pre>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button id="align-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-align-1" aria-expanded="false" aria-haspopup="true" class="fr-command fr-btn fr-dropdown fr-btn-font_awesome" data-cmd="align">
                        <i class="fa fa-align-left" aria-hidden="true"></i>
                        <span class="fr-sr-only">Align</span>
                    </button>
                    <div id="dropdown-menu-align-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="align-1" aria-hidden="true">
                        <div class="fr-dropdown-wrapper" role="presentation">
                            <div class="fr-dropdown-content" role="presentation">
                                <ul class="fr-dropdown-list" role="presentation">
                                    <li role="presentation">
                                        <a class="fr-command fr-title" tabindex="-1" role="option" data-cmd="align" data-param1="left" title="Align Left">
                                            <i class="fa fa-align-left" aria-hidden="true"></i>
                                            <span class="fr-sr-only">Align Left</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command fr-title" tabindex="-1" role="option" data-cmd="align" data-param1="center" title="Align Center">
                                            <i class="fa fa-align-center" aria-hidden="true"></i>
                                            <span class="fr-sr-only">Align Center</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command fr-title" tabindex="-1" role="option" data-cmd="align" data-param1="right" title="Align Right">
                                            <i class="fa fa-align-right" aria-hidden="true"></i>
                                            <span class="fr-sr-only">Align Right</span>
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command fr-title" tabindex="-1" role="option" data-cmd="align" data-param1="justify" title="Align Justify">
                                            <i class="fa fa-align-justify" aria-hidden="true"></i>
                                            <span class="fr-sr-only">Align Justify</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button id="formatOL-1" type="button" tabindex="-1" role="button" title="Ordered List" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="formatOL">
                        <i class="fa fa-list-ol" aria-hidden="true"></i>
                        <span class="fr-sr-only">Ordered List</span>
                    </button>
                    <button id="formatUL-1" type="button" tabindex="-1" role="button" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="formatUL">
                        <i class="fa fa-list-ul" aria-hidden="true"></i>
                        <span class="fr-sr-only">Unordered List</span>
                    </button>
                    <button id="outdent-1" type="button" tabindex="-1" role="button" title="Decrease Indent (⌘[)" class="fr-command fr-btn fr-btn-font_awesome fr-disabled" data-cmd="outdent" aria-disabled="true">
                        <i class="fa fa-outdent" aria-hidden="true"></i>
                        <span class="fr-sr-only">Decrease Indent</span>
                    </button>
                    <button id="indent-1" type="button" tabindex="-1" role="button" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="indent" aria-disabled="false">
                        <i class="fa fa-indent" aria-hidden="true"></i>
                        <span class="fr-sr-only">Increase Indent</span>
                    </button>
                    <button id="quote-1" type="button" tabindex="-1" role="button" aria-controls="dropdown-menu-quote-1" aria-expanded="false" aria-haspopup="true" class="fr-command fr-btn fr-dropdown fr-btn-font_awesome" data-cmd="quote">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <span class="fr-sr-only">Quote</span>
                    </button>
                    <div id="dropdown-menu-quote-1" class="fr-dropdown-menu" role="listbox" aria-labelledby="quote-1" aria-hidden="true">
                        <div class="fr-dropdown-wrapper" role="presentation">
                            <div class="fr-dropdown-content" role="presentation">
                                <ul class="fr-dropdown-list" role="presentation">
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="quote" data-param1="increase" title="Increase">Increase</a>
                                    </li>
                                    <li role="presentation">
                                        <a class="fr-command" tabindex="-1" role="option" data-cmd="quote" data-param1="decrease" title="Decrease">Decrease</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="fr-separator fr-hs" role="separator" aria-orientation="horizontal"></div>
                    <button id="insertLink-1" type="button" tabindex="-1" role="button" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="insertLink" data-popup="true">
                        <i class="fa fa-link" aria-hidden="true"></i>
                        <span class="fr-sr-only">Insert Link</span>
                    </button>
                    <button id="insertImage-1" type="button" tabindex="-1" role="button" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="insertImage" data-popup="true">
                        <i class="fa fa-image" aria-hidden="true"></i>
                        <span class="fr-sr-only">Insert Image</span>
                    </button>
                    <button id="insertVideo-1" type="button" tabindex="-1" role="button" title="Insert Video" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="insertVideo" data-popup="true">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                        <span class="fr-sr-only">Insert Video</span>
                    </button>
                    <button id="insertFile-1" type="button" tabindex="-1" role="button" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="insertFile" data-popup="true">
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        <span class="fr-sr-only">Upload File</span>
                    </button>
                    <button id="insertTable-1" type="button" tabindex="-1" role="button" title="Insert Table" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="insertTable" data-popup="true">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span class="fr-sr-only">Insert Table</span>
                    </button>
                    <div class="fr-separator fr-vs" role="separator" aria-orientation="vertical"></div>
                    <button id="emoticons-1" type="button" tabindex="-1" role="button" title="Emoticons" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="emoticons" data-popup="true">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                        <span class="fr-sr-only">Emoticons</span>
                    </button>
                    <button id="specialCharacters-1" type="button" tabindex="-1" role="button" class="fr-command fr-btn fr-btn-text" data-cmd="specialCharacters" data-modal="true">
                        <span style="text-align: center;">Ω</span>
                        <span class="fr-sr-only">Special Characters</span>
                    </button>
                    <button id="insertHR-1" type="button" tabindex="-1" role="button" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="insertHR">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                        <span class="fr-sr-only">Insert Horizontal Line</span>
                    </button>
                    <button id="selectAll-1" type="button" tabindex="-1" role="button" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="selectAll">
                        <i class="fa fa-mouse-pointer" aria-hidden="true"></i>
                        <span class="fr-sr-only">Select All</span>
                    </button>
                    <button id="clearFormatting-1" type="button" tabindex="-1" role="button" title="Clear Formatting" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="clearFormatting">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                        <span class="fr-sr-only">Clear Formatting</span>
                    </button>
                    <div class="fr-separator fr-vs" role="separator" aria-orientation="vertical"></div>
                    <button id="print-1" type="button" tabindex="-1" role="button" title="Print" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="print">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        <span class="fr-sr-only">Print</span>
                    </button>
                    <button id="spellChecker-1" type="button" tabindex="-1" role="button" aria-pressed="false" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="spellChecker">
                        <i class="fa fa-keyboard-o" aria-hidden="true"></i>
                        <span class="fr-sr-only">Spell Checker</span>
                    </button>
                    <button id="help-1" type="button" tabindex="-1" role="button" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="help" data-modal="true">
                        <i class="fa fa-question" aria-hidden="true"></i>
                        <span class="fr-sr-only">Help</span>
                    </button>
                    <button id="html-1" type="button" tabindex="-1" role="button" aria-pressed="false" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="html">
                        <i class="fa fa-code" aria-hidden="true"></i>
                        <span class="fr-sr-only">Code View</span>
                    </button>
                    <div class="fr-separator fr-vs" role="separator" aria-orientation="vertical"></div>
                    <button id="undo-1" type="button" tabindex="-1" role="button" aria-disabled="false" title="Undo (⌘Z)" class="fr-command fr-btn fr-btn-font_awesome" data-cmd="undo">
                        <i class="fa fa-rotate-left" aria-hidden="true"></i>
                        <span class="fr-sr-only">Undo</span>
                    </button>
                    <button id="redo-1" type="button" tabindex="-1" role="button" aria-disabled="true" title="Redo (⌘⇧Z)" class="fr-command fr-btn fr-btn-font_awesome fr-disabled" data-cmd="redo">
                        <i class="fa fa-rotate-right" aria-hidden="true"></i>
                        <span class="fr-sr-only">Redo</span>
                    </button>
                </div>
                <div class="fr-sticky-dummy" style="height: 82px;"></div>
                <div class="fr-wrapper show-placeholder" dir="auto">
                    <div class="fr-element fr-view" dir="auto" contenteditable="true" aria-disabled="false" spellcheck="true">
                        <p>
                            <br>
                        </p>
                    </div>
                    <span class="fr-placeholder" style="font-size: 16px; line-height: normal; margin-top: 16px; padding-top: 10px; padding-left: 10px; margin-left: 0px; padding-right: 10px; margin-right: 0px; text-align: start;">Type something</span>
                </div>
                <span class="fr-counter" style="bottom: 0px; margin-right: 0px;">0</span>
                <div class="fr-quick-insert" style="left: -9999px; top: -9999px;">
                    <a class="fr-floating-btn" role="button" tabindex="-1" title="Quick Insert">
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22,16.75 L16.75,16.75 L16.75,22 L15.25,22.000 L15.25,16.75 L10,16.75 L10,15.25 L15.25,15.25 L15.25,10 L16.75,10 L16.75,15.25 L22,15.25 L22,16.75 Z"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="
                col-lg-3 col-lg-offset-0
                col-md-3 col-md-offset-0
                col-sm-12
                col-xs-12
                sidebar-container
            ">
                <section>
                    <h2>
                        <a href="/tags/"> TAGS</a>
                    </h2>
                    <div class="tags">
                        <a href="/tags/#生活" title="生活" rel="1">生活</a>
                        <a href="/tags/#心情" title="心情" rel="1">心情</a>
                        <a href="/tags/#技术" title="技术" rel="1">技术</a>
                        <a href="/tags/#web" title="web" rel="1">web</a>
                        <a href="/tags/#os" title="os" rel="1">os</a>
                        <a href="/tags/#linux" title="linux" rel="1">linux</a>
                        <a href="/tags/#javascript" title="javascript" rel="1">javascript</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.atwho.min.js"></script>
    <script type="text/javascript" src="/javascripts/codemirror.min.js"></script>
    <script type="text/javascript" src="/javascripts/xml.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.atwho.min.js"></script>
    <script type="text/javascript" src="/javascripts/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="/javascripts/edit.js"></script>
    <!--<script type="text/javascript">-->
        <!--$(function() {-->
            <!--// Define data source for At.JS.-->
            <!--var datasource = ["Jacob", "Isabella", "Ethan", "Emma", "Michael", "Olivia" ];-->

            <!--// Build data to be used in At.JS config.-->
            <!--var names = $.map(datasource, function (value, i) {-->
                <!--return {-->
                    <!--'id': i, 'name': value, 'email': value + "@email.com"-->
                <!--};-->
            <!--});-->

            <!--// Define config for At.JS.-->
            <!--var config = {-->
                <!--at: "@",-->
                <!--data: names,-->
                <!--displayTpl: '<li>${name} <small>${email}</small></li>',-->
                <!--limit: 200-->
            <!--}-->

            <!--// Initialize editor.-->
            <!--$('#froala-editor')-->
                    <!--.on('froalaEditor.initialized', function (e, editor) {-->
                        <!--editor.$el-->
                                <!--.atwho(config)-->
                                <!--.on('inserted.atwho', function () {-->
                                    <!--editor.$el.find('.atwho-inserted').removeAttr('contenteditable');-->
                                <!--})-->

                        <!--editor.events.on('keydown', function (e) {-->
                            <!--if (e.which == $.FroalaEditor.KEYCODE.ENTER && editor.$el.atwho('isSelecting')) {-->
                                <!--return false;-->
                            <!--}-->
                        <!--}, true);-->
                    <!--})-->
                    <!--.froalaEditor()-->
        <!--});-->
    <!--</script>-->
</body>
</html>