<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link href="https://cdn.bootcss.com/bootstrap3-wysiwyg/0.3.3/bootstrap3-wysihtml5.css" rel="stylesheet">


    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <!-- include summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/homePage.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/hux-blog.css">

</head>
<body style="background-color: #e3efd2">
    <div class="header">
        <div class="header-container clearfloat">
            <div class="header-left">
                <a href="#" class="blog">博客</a>
            </div>
        </div>

        <div class="header-right">
            <% if (session.user) { %>
            <ul class="nav">
                <li>
                    <a href="/" class="style"><%=session.user.username%></a>
                </li>
            </ul>
            <% } else { %>
            <ul class="nav">
                <li>
                    <a href="/login" class="style">登陆</a>
                </li>
                <li>
                    <a href="/register" class="style">注册</a>
                </li>
            </ul>
            <% } %>



        </div>
    </div>
    <div class="head">
        <ul class="nav">
            <li >
                <a href="/">
                    首页
                </a>
            </li>
            <li>
                <a href="/personaList">
                    个人博客列表
                </a>
            </li>
            <li>
                <a href="/personalDetail">
                    个人博客详情
                </a>
            </li>
            <li>
                <a href="/personalInformation">
                    个人信息
                </a>
            </li>
            <li>
                <a href="/pageSetuo">
                    页面设置
                </a>
            </li>
            <li>
                <a href="/post">
                    发表博客
                </a>
            </li>
        </ul>
    </div>
    <div id="personaList" class="tab-pane ">
        <div class="post-preview">
            <h1 class="post-title">
                <a href="#">完美世界</a>
            </h1>
            <p class="post-content-preview">
                我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
            </p>
            <p class="post-meta">
                Post by liutongbin on September 6,2017
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <h1 class="post-title">
                <a href="#">完美世界</a>
            </h1>
            <p class="post-content-preview">
                我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
            </p>
            <p class="post-meta">
                Post by liutongbin on September 6,2017
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <h1 class="post-title">
                <a href="#">完美世界</a>
            </h1>
            <p class="post-content-preview">
                我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
            </p>
            <p class="post-meta">
                Post by liutongbin on September 6,2017
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <h1 class="post-title">
                <a href="#">完美世界</a>
            </h1>
            <p class="post-content-preview">
                我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
            </p>
            <p class="post-meta">
                Post by liutongbin on September 6,2017
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <h1 class="post-title">
                <a href="#">完美世界</a>
            </h1>
            <p class="post-content-preview">
                我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
            </p>
            <p class="post-meta">
                Post by liutongbin on September 6,2017
            </p>
        </div>
        <hr>
        <div class="post-preview">
            <h1 class="post-title">
                <a href="#">完美世界</a>
            </h1>
            <p class="post-content-preview">
                我心中的世界是一片没有尘埃、没有喧嚣的世界；是一个充斥着人群但是都不是为了生活而忙碌的世界；是一个不需要攀比，男男女女都坐在一块开心的聊着天，吹吹牛的世界
            </p>
            <p class="post-meta">
                Post by liutongbin on September 6,2017
            </p>
        </div>
        <hr>
        <div class="
                    col-lg-3 col-lg-offset-0
                    col-md-3 col-md-offset-0
                    col-sm-12
                    col-xs-12
                    sidebar-container
                ">
            <section>
                <h2>
                    <a href="/tags/"> TAGS</a>
                </h2>
                <div class="tags">
                    <a href="/tags/#生活" title="生活" rel="1">生活</a>
                    <a href="/tags/#心情" title="心情" rel="1">心情</a>
                    <a href="/tags/#技术" title="技术" rel="1">技术</a>
                    <a href="/tags/#web" title="web" rel="1">web</a>
                    <a href="/tags/#os" title="os" rel="1">os</a>
                    <a href="/tags/#linux" title="linux" rel="1">linux</a>
                    <a href="/tags/#javascript" title="javascript" rel="1">javascript</a>
                </div>
            </section>
        </div>
    </div>


    <!--<script src="https://cdn.bootcss.com/jquery/2.1.2/jquery.js"></script>-->
    <script type="text/javascript" src="/javascripts/jQuery.js"></script>
    <!--<script type="text/javascript" src="/javascripts/login.js"></script>-->
    <script src="/javascripts/bootstrap.min.js"></script>




    <!--&lt;!&ndash; Initialize the editor. &ndash;&gt;-->
    <!--<script> $(function() {-->
        <!--$('#summernote').summernote();-->
    <!--});-->
    <!--</script>-->
</body>
</html>