<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/register.css">

</head>
<body>
    <div class="header">
        <div class="header-container clearfloat">
            <div class="header-left">
                <a href="#" class="blog">博客</a>
            </div>
            <div class="header-right">
                <ul class="nav">
                    <li>
                        <a href="/" class="style">首页</a>
                    </li>
                    <li>
                        <a href="/login" class="style">登陆</a>
                    </li>
                    <li>
                        <a href="#" class="style">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="title-top">注册新用户
            <hr class="head-hr">
        </div>
        <div class="content">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-1" for="inputSuccess1" >用户名称</label>
                    <input type="text" class="form-control" id="inputSuccess1" aria-describedby="inputSuccess1Status">
                    <span id="inputSuccess1Status" class="sr-only">(success)</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="inputSuccess2" >昵称</label>
                    <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status">
                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="inputSuccess3" >手机号</label>
                    <input type="text" class="form-control" id="inputSuccess3" aria-describedby="inputSuccess3Status">
                    <span id="inputSuccess3Status" class="sr-only">(success)</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="inputSuccess4" >密码</label>
                    <input type="text" class="form-control" id="inputSuccess4" aria-describedby="inputSuccess4Status">
                    <span id="inputSuccess4Status" class="sr-only">(success)</span>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="inputSuccess5" >确认密码</label>
                    <input type="text" class="form-control" id="inputSuccess5" aria-describedby="inputSuccess5Status">
                    <span id="inputSuccess5Status" class="sr-only">(success)</span>
                </div>
            </form>
        </div>
        <div class="button">
            <input type="button" value="注册" class="btn">
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/jQuery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/register.js"></script>
</body>
</html>