body{
    background: url(/images/banner_top.jpg);

}
body .container{
    width:970px;
    margin:0 auto;
    padding-top: 110px;
    padding-left: 110px;
}
.form-group{
    margin-bottom: 30px;

}
.form-horizontal .form-group .control-label{
    width: 112px;
    font-size: 16px;
}
#inputSuccess1 ,#inputSuccess2{

    background-color: #eae0e0;

    width: 411px;
    font-size: 13px;
}
.col-sm-9 .form-control-feedback{
    right:264px;
}
.button{
    text-align: center;
    font-style: italic;
}
.button .btn{
    font-size: 22px;
}